In [1]:
import pandas as pd
import requests
import matplotlib as plt

In [9]:
#CSV data files
gdp = pd.read_csv('gdp.CSV')
gdp_growth = pd.read_csv('gdp_growth.csv')
gpd_per_capita = pd.read_csv('gdp_per_capita.csv')
gdp_per_capita_growth = pd.read_csv('gdp_per_capita_growth.csv')
Chinese_pop = pd.read_csv('Chinas Population En.csv')
Japanese_pop =pd.read_csv('japanese_census.csv')

In [10]:
#Japanese population data prefecture
Japanese_pop.columns
Japanese_pop['Prefecture'].unique()
Japanese_pop_prefect = Japanese_pop.set_index(['Year', 'Prefecture',])
Japanese_pop_prefect.drop("Unnamed: 0",axis=1, inplace= True)
Years = range(1980, 2010, 5)
JP_Prefecture_Pop = Japanese_pop_prefect.reset_index()
JP_Prefecture_Pop['Year'] = JP_Prefecture_Pop['Year'].astype(str)
JP_Prefecture_Pop

,Year,Prefecture,Age Lower Bound,Age Upper Bound,Gender,Population
0,1920,Hokkaido,0,4.0,Male,190044
1,1920,Hokkaido,0,4.0,Female,186632
2,1920,Hokkaido,5,9.0,Male,161814
3,1920,Hokkaido,5,9.0,Female,157556
4,1920,Hokkaido,10,14.0,Male,138018
...,...,...,...,...,...,...
33449,2015,Okinawa Prefecture,75,79.0,Female,30607
33450,2015,Okinawa Prefecture,80,84.0,Male,18017
33451,2015,Okinawa Prefecture,80,84.0,Female,25182
33452,2015,Okinawa Prefecture,85,NaN,Male,12637
33453,2015,Okinawa Prefecture,85,NaN,Female,31496

In [17]:
#Total population of Japan
JP_Total_pop = pd.DataFrame(Japanese_pop_prefect.groupby('Year')['Population'].sum())
JP_Total_pop.reset_index(inplace=True)
JP_Total_pop['Year'] =JP_Total_pop['Year'].astype(str)
JP_Total_pop

    Year  Population
0   1920    55963053
1   1925    59736772
2   1930    64450005
3   1935    69254148
4   1940    73074109
5   1945    72324729
6   1950    84101821
7   1955    90075711
8   1960    94301494
9   1965    99209086
10  1970   104665171
11  1975   111893438
12  1980   116989033
13  1985   121007577
14  1990   123284810
15  1995   125439273
16  2000   126697282
17  2005   127285653
18  2010   127080929
19  2015   125640987

In [5]:
#Cleaning Japan's GDP per capita data 
Japan_gdp_per_capita = gpd_per_capita.set_index("Country Name").loc["Japan"]
JP_gppp = pd.DataFrame(Japan_gdp_per_capita )
JP_gppp.reset_index(inplace=True)
JP_gppp.rename(columns = {'index':'Year'}, inplace = True)
JP_gppp.drop(0, axis = 0, inplace = True)

In [6]:
#Japan' GDP per Capita growth
Japan_gdpp_growth = gdp_per_capita_growth.set_index("Country Name").loc["Japan"]
JP_gg= pd.DataFrame(Japan_gdpp_growth)
JP_gg.reset_index(inplace=True)
JP_gg.rename(columns = {'index':'Year'}, inplace = True)
JP_gg.drop(0, axis = 0, inplace = True)

In [48]:
#Merge Japan's GDP per Capita Growth and GDP per Capita
JP_GDP_Overall_data = pd.merge(JP_gppp, JP_gg, how = 'inner', on ='Year')
JP_GDP_Overall_data.rename(columns = {'Japan_x':'GDP Per Capita', 'Japan_y': "GDP Per Capita Growth Rate"}, inplace = True)
JP_GDP_Overall_data.tail(50)

           Year GDP Per Capita GDP Per Capita Growth Rate
12         1972    2967.041996                     6.9055
13         1973    3974.745605                   6.523024
14         1974    4353.824355                  -2.529839
15         1975    4674.445481                   1.787836
16         1976    5197.622337                   2.866778
17         1977    6335.286871                   3.384681
18         1978    8820.691945                    4.31828
19         1979    9103.564756                   4.594768
20         1980    9463.353855                   2.010416
21         1981   10360.178267                   3.452971
22         1982    9575.607713                   2.598303
23         1983   10421.212436                   2.805455
24         1984   10978.919805                   3.826682
25         1985   11576.692113                   4.576745
26         1986   17113.262324                   2.777921
27         1987   20748.990924                   4.227042
28         1988   25059.007433                     6.3416
29         1989   24822.775567                   4.439693
30         1990   25371.464171                   4.545274
31         1991   28915.008205                   3.012049
32         1992   31414.984637                   0.474423
33         1993   35681.963942                  -0.839886
34         1994   39933.515056                   0.711495
35         1995   44197.619101                    2.39052
36         1996   39150.039631                   2.900141
37         1997   35638.231956                   0.740906
38         1998   32423.755613                  -1.538244
39         1999   36610.168316                  -0.515741
40         2000    39169.35957                   2.592891
41         2001   34406.182464                   0.144512
42         2002   32820.793643                  -0.190392
43         2003    35387.03742                   1.318092
44         2004   38298.980171                   2.151723
45         2005    37812.89502                    1.79434
46         2006   35991.546003                   1.308127
47         2007   35779.024542                   1.367422
48         2008   39876.303969                   -1.27211
49         2009   41308.996837                  -5.681452
50         2010   44968.156235                   4.079223
51         2011   48760.078949                   0.209252
52         2012   49145.280431                   1.536787
53         2013   40898.647896                   2.152371
54         2014   38475.395246                   0.429381
55         2015   34960.639384                   1.668465
56         2016   39400.739356                   0.870047
57         2017   38891.086272                   1.842709
58         2018   39808.168561                   0.762861
59         2019   40777.608697                   0.480088
60         2020   40193.252445                   -4.26029
61  Unnamed: 65            NaN                        NaN

In [25]:
#GDP data with population
JP_data = pd.merge(JP_Total_pop, JP_GDP_Overall_data, how = 'inner', on = 'Year')
JP_data

    Year  Population GDP Per Capita GDP Per Capita Growth Rate
0   1960    94301494     475.319076                        NaN
1   1965    99209086     928.518849                    4.68645
2   1970   104665171    2056.122046                   1.339145
3   1975   111893438    4674.445481                   1.787836
4   1980   116989033    9463.353855                   2.010416
5   1985   121007577   11576.692113                   4.576745
6   1990   123284810   25371.464171                   4.545274
7   1995   125439273   44197.619101                    2.39052
8   2000   126697282    39169.35957                   2.592891
9   2005   127285653    37812.89502                    1.79434
10  2010   127080929   44968.156235                   4.079223
11  2015   125640987   34960.639384                   1.668465

In [29]:
JP_Prefecture_data =  pd.merge(JP_Prefecture_Pop, JP_GDP_Overall_data, how = 'inner', on = 'Year')
JP_Prefecture_data.set_index('Year')

,Prefecture,Age Lower Bound,Age Upper Bound,Gender,Population,GDP Per Capita,GDP Per Capita Growth Rate
Year,,,,,,,
1960,Hokkaido,0,4.0,Male,233417,475.319076,NaN
1960,Hokkaido,0,4.0,Female,221796,475.319076,NaN
1960,Hokkaido,5,9.0,Male,294325,475.319076,NaN
1960,Hokkaido,5,9.0,Female,281905,475.319076,NaN
1960,Hokkaido,10,14.0,Male,330838,475.319076,NaN
...,...,...,...,...,...,...,...
2015,Okinawa Prefecture,75,79.0,Female,30607,34960.639384,1.668465
2015,Okinawa Prefecture,80,84.0,Male,18017,34960.639384,1.668465
2015,Okinawa Prefecture,80,84.0,Female,25182,34960.639384,1.668465
2015,Okinawa Prefecture,85,NaN,Male,12637,34960.639384,1.668465
2015,Okinawa Prefecture,85,NaN,Female,31496,34960.639384,1.668465

In [38]:
Chinese_pop.rename(columns={'Unnamed: 0':"Year"}, inplace = True)
Chinese_pop.set_index('Year')

,At the end of the total population (ten thousand people),The male population (ten thousand people),Female population (ten thousand people),Urban population (ten thousand people),Rural population (ten thousand people)
Year,,,,,
2021,141260,72311,68949,91425,49835
2020,141212,72357,68855,90220,50992
2019,141008,72039,68969,88426,52582
2018,140541,71864,68677,86433,54108
2017,140011,71650,68361,84343,55668
...,...,...,...,...,...
1953,58796,30468,28328,7826,50970
1952,57482,29833,27649,7163,50319
1951,56300,29231,27069,6632,49668
1950,55196,28669,26527,6169,49027
1949,54167,28145,26022,5765,48402

In [40]:
#Chinese GDP Per Capita
China_gdp_per_capita = gpd_per_capita.set_index("Country Name").loc["China"]
CN_gppp = pd.DataFrame(China_gdp_per_capita )
CN_gppp.reset_index(inplace=True)
CN_gppp.rename(columns = {'index':'Year'}, inplace = True)
CN_gppp.drop(0, axis = 0, inplace = True)
CN_gppp

           Year         China
1          1960     89.520542
2          1961     75.805838
3          1962     70.909412
4          1963     74.313643
5          1964     85.498555
..          ...           ...
58         2017   8816.986905
59         2018   9905.342004
60         2019  10143.838172
61         2020  10434.775187
62  Unnamed: 65           NaN

[62 rows x 2 columns]

In [42]:
#China's GDP per Capita growth
China_gdp_growth = gdp_per_capita_growth.set_index("Country Name").loc["China"]
CN_gg= pd.DataFrame(China_gdp_growth)
CN_gg.reset_index(inplace=True)
CN_gg.rename(columns = {'index':'Year'}, inplace = True)
CN_gg.drop(0, axis = 0, inplace = True)
CN_gg

           Year      China
1          1960        NaN
2          1961 -26.527644
3          1962  -6.351505
4          1963   7.622254
5          1964  15.468995
..          ...        ...
58         2017   6.301863
59         2018   6.251701
60         2019   5.574533
61         2020   2.116523
62  Unnamed: 65        NaN

[62 rows x 2 columns]

In [46]:
CN_GDP_Overall_data = pd.merge(CN_gppp, CN_gg, how = 'inner', on ='Year')
CN_GDP_Overall_data.rename(columns = {'China_x':'GDP Per Capita', 'China': "GDP Per Capita Growth Rate"}, inplace = True)
CN_GDP_Overall_data.tail(20)

           Year GDP Per Capita    China_y
42         2002     1148.50829    8.40488
43         2003    1288.643252   9.354777
44         2004    1508.668098   9.461559
45         2005    1753.417829  10.741375
46         2006    2099.229435  12.093305
47         2007    2693.970063  13.635821
48         2008    3468.304602    9.09028
49         2009    3832.236432   8.855948
50         2010    4550.453108  10.102833
51         2011    5614.352135   8.953816
52         2012    6300.615118   7.134524
53         2013    7020.338485   7.050734
54         2014    7636.116601    6.75076
55         2015    8016.431435   6.420736
56         2016    8094.363367   6.238215
57         2017    8816.986905   6.301863
58         2018    9905.342004   6.251701
59         2019   10143.838172   5.574533
60         2020   10434.775187   2.116523
61  Unnamed: 65            NaN        NaN